<div class="container">
  <div class="row mt-3">
    <h2>このサイトについて</h2>
  </div>
  <div class="row mt-3">
    <div class="col-offset-2 col-8 mx-auto">
      <div class="text_center">
        <p>Scaleは鱗、規模という意味です。</p><br>
        <p>「魚のうろこのように、沢山の人が集まって経験や知識を交流できる」サイトを目指します。</p><br>
        <p>捌き方を知りたい、美味しい食べ方を知りたい、こんな魚を釣ってきた！など</p><br>
        <p>どんな些細なことでもいいので投稿してみてください！</p>
      </div>
    </div>
  </div>
</div>