<div class="container">
  <div class="row mt-3">
    <h2>トップページ</h2>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <table class="table table-bordered table-dark">
        <thead>
          <tr><th>魚種一覧</th></tr>
        </thead>
        <% @fishes.each do |fish| %>
        <tbody>
          <tr>
            <td><%= fish.fish_name %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-6">
      <%= image_tag 'tai2.png', class: "img-fluid" %>
    </div>
    <div class="col-3">
      <table class="table table-bordered table-dark">
        <thead>
          <tr><th>投稿一覧</th></tr>
        </thead>
        <% @posts.each do |posts| %>
        <tbody>
          <tr>
            <td><%= posts.title %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>