<div class="container">
  <div class="row">
    <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
      <%= f.label :name, "魚種ジャンル" %>
      <%= f.text_field :name %>
      <%= f.submit '変更を保存' %>
    <% end %>
  </div>
</div>